[alias]
    cam = commit -am
    cm = commit -m
    lg =  log --graph --pretty=format:\"%h%x09%an%x09%ah%x09%s%x09%d\"
    lgd = log --graph --pretty=format:\"%h%x09%an%x09%ai%x09%s%x09%d\"
    lg1 = log --pretty=format:\"%h%x09%an%x09%ah%x09%s%x09%d\" -1
    lgp = log --pretty=format:\"%h%x09%an%x09%ah%x09%s%x09%d\" -p
    co = checkout
    cob = checkout --no-track -b
    cobt = checkout -b
    lgg  = log --graph --all --pretty=format:\"%h%x09%an%x09%ah%x09%s%x09%d\"
    lggd = log --graph --all --pretty=format:\"%h%x09%an%x09%ai%x09%s%x09%d\"
    st = status -sb
    df = diff --color
    dft = diff --color --text
    dfb = diff --color -b
    dfc = diff --color --cached
    dfcb = diff --color --cached -b
    dfn = diff --color --name-status
    lgn =  log --pretty=format:\"%h%x09%an%x09%ah%x09%s%x09%d\" -p --name-status
    lgn1 = log --pretty=format:\"%h%x09%an%x09%ah%x09%s%x09%d\" -p --name-status -1
    cp = cherry-pick
    shn = show --name-only
    fp = fetch origin --prune
    pushnew = push -u origin HEAD
    pushnewnt = push --no-thin -u origin HEAD
    amend = commit --amend --no-edit --reset-author
    bd = branch -d
    bD = branch -D
    pod = push origin --delete
    b = branch
    pushnt = push --no-thin
    pushmisc = push --no-thin
    pushfl = push --force-with-lease
    pushflnt = push --force-with-lease --no-thin
    pushflb = push --force-with-lease -u origin
    pushnewfl = push --force-with-lease -u origin HEAD
    ff = merge --ff-only
    det = checkout --detach
    p4 = !git-p4-latest.sh
    dfom = diff --color tzadik/master
    dfnom = diff --color --name-status tzadik/master
[core]
    fscache = true
    fsmonitor = false
    symlinks = false
    #editor = \"C:\\\\Program Files\\\\Notepad++\\\\notepad++.exe\" -multiInst -notabbar -nosession -noPlugin
    #editor = 'C:/Users/tzadi/config/bin/ed'
    editor = '/c/Program Files (x86)/GnuWin32/bin/ed.exe' -p'> ' -v "$@" || true
    useBuiltinFSMonitor = true
    preloadindex = true
    ignoreStat = false
    pager = tr -d '\\r' | less -REX
    excludesfile = ~/config/dot.git.ignore
    autocrlf = true
    safecrlf = false
    # if safecrlf complains, set * -text in .gittattributes
    attributesfile = ~/config/dot.gittattributes
[gc]
    auto = 256
[credential]
#    helper = wincred
[http]
    sslVerify = true
    sslBackend = schannel
#   sslBackend = openssl
[init]
    defaultBranch = master
[sendemail]
    smtpserver = smtp.googlemail.com
    smtpencryption = tls
    smtpserverport = 587
    smtpuser = tzadik.vanderhoof@gmail.com
[git-p4]
    # Leave out client to just use P4CLIENT
    metadataDecodingStrategy = fallback
    metadataFallbackEncoding = cp1252
    noBom = true
[pull]
    ff = only
    rebase = false
